<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISeguridadService" />
                <binding name="BasicHttpBinding_IUsuarioService" />
                <binding name="BasicHttpBinding_ITicketService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:25195/SeguridadService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeguridadService"
                contract="WSSeguridad.ISeguridadService" name="BasicHttpBinding_ISeguridadService" />
            <endpoint address="http://localhost:25195/UsuarioService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioService"
                contract="WSUsuario.IUsuarioService" name="BasicHttpBinding_IUsuarioService" />
            <endpoint address="http://localhost:25195/TicketService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITicketService"
                contract="WSTicket.ITicketService" name="BasicHttpBinding_ITicketService" />
        </client>
    </system.serviceModel>
</configuration>