<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISeguridadService" />
                <binding name="BasicHttpBinding_IUsuarioService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:25195/SeguridadService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeguridadService"
                contract="WSSeguridad.ISeguridadService" name="BasicHttpBinding_ISeguridadService" />
            <endpoint address="http://localhost:25195/UsuarioService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuarioService"
                contract="WSUsuario.IUsuarioService" name="BasicHttpBinding_IUsuarioService" />
        </client>
    </system.serviceModel>
</configuration>