@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}

<head>
    <h1>
        Acceso
    </h1>
</head>
<body>
    <div>
        <table>
            <tr>
                <td>
                    Correo:
                </td>
                <td>
                    Contraseña
                </td>
            </tr>
        </table>
    </div>
</body>